html{
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}


body{
  	font-size:9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif; 
	background-color: #F2BA65;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	scrollbar-face-color: #fbfbfb;
	scrollbar-highlight-color: #b1b1b1;
	scrollbar-3dlight-color: #e0e0e0;
	scrollbar-darkshadow-color: #e0e0e0;
	scrollbar-shadow-color: #b1b1b1;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #e0e0e0;
	background-color:#F2BA65;
}
form{
	margin: 0px;	
}
td{
    font-size: 9pt;
	color:#ffffdd;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}
.header_bg{
	background:url(../img/header_area.jpg) 0 0 no-repeat #82DDE2;
	height:134px;
	width:1020px;
	margin:0 auto;
	padding:2px;
}
.horizontal_line{
	background-position:left top;
	background-repeat:repeat-x;
}

.box{
	background-color:#FFFFFF;
	border:1px solid #000000;
	padding:7px;
}

.dark_box{
	background-color:#ffffdd;
	border:1px solid #000000;
	padding:7px;
}

.page_heading {
	font-size: 28px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
	text-decoration: none;
}

.page_heading_small {
	font-size: 22px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
	text-decoration: none;
}

.top_menu_portion{
	background-color:#000000;
	border-top: 1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	font-size: 1px;
	color: #0099CC;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	padding-right:1px;
}


a.menulink:link, a.menulink:visited, a.menulink:active{
	font-size: 9px;
	color:#ffffff;
	font-weight:bold;
	font:italic
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	padding-left:8px;
	padding-right:4px;
	text-decoration:none;
}

a.menulink:hover{
	font-size: 9px;
	color:#000000;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:underline;
}



.login_text {
	font-size: 11px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color:#000000;
	font-weight:normal;
	font-variant:normal;
	text-decoration: none;
	padding-left:8px;
}

.footer{
	background-color:#000000;
	font-size: 11px;
	color:#ffffff;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}

.icon_box{
	background-color:#d8eaee;
	border:1px solid #477a85;
	padding:7px;
	cursor: pointer;
}

table td.icon_box:hover {
	background-color:#eff3f4;
}

.icon_box_hover {
	background-color:#eff3f4;
	border:1px solid #979ea0;
	padding:7px;
	cursor: pointer;
}


h5{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #0FFFFF;
	font-size: 10px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
}

.left_heading{
	font-size: 10pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color:#000000;
	font-weight:bold;
}

.body_text {
	font-size: 11px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color: #0f0c02;
	font-weight:normal;
	font-variant:normal;
	text-decoration: none;
}


a:link, a:visited{
    font-size: 9pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration:underline; 
}

a:hover{
    font-size: 9pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color: #000000;
    text-decoration:underline;
}

input.look{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
    padding: 1px 3px 1px 3px;
	font-size: 12px;
    font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color:#000000;
    background-color: #ffffff;
}

textarea.look{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	padding: 1px 3px 1px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    background-color: #ffffff;
}

select.look{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	padding: 1px 3px 1px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    background-color: #ffffff;
}

submit.look{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	padding: 1px 3px 1px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    background-color: #ffffff;
}

input.button{
	border: 1px solid #000000;
	padding: 2px 3px 2px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color:#ffffff;
	background: #ffffff url(../img/button_bg.gif) repeat-x;
	cursor: pointer;
}

input.button1{
	border: 1px solid #000000;
	padding: 2px 3px 2px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	cursor: pointer;
}
input.look_selected{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
    padding: 1px 3px 1px 3px;
	font-size: 12px;
    font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color:#000000;
    background-color: #CAFFD8;
}

textarea.look_selected{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	padding: 1px 3px 1px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    background-color: #CAFFD8;
}


.header_bordercolor{
	border-width: 1px;
	border-style: solid;
	border-color:#979ea0;
}

.header_bgcolor{  
	background-color:#000000;
	color: #00000;
}

.tr_bgcolor{
	background-color:#d8eaee;
}

.even_tr{
	background-color:#eff3f4;
}


.odd_tr{	
	background-color:#eaeaea;
}


table tr.odd_tr:hover, table tr.even_tr:hover {
	background-color:#eff3f4;
}

.mouseHover {
	background-color:#eff3f4;
}

.selected_bg{
	background-color:#c8e3fd;
}

.headertext{
    color: #ffffff;
    font-size: 12px;
	font-weight: bold;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}


a.view_link:link, a.view_link:visited, a.view_link:active{
	color: #000000;
	font-size:12px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:none; 
}

a.view_link:hover{
	color: #669acc;
	font-size:12px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:none;
}

a.toplink:link, a.toplink:visited, a.toplink:active {
    font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	font-family: Tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}
a.toplink:hover {
    font-size: 12px;
	font-weight: bold;
	color: #b0d9ff;
	font-family: Tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}

.very_big_headertext{
    color:#003366;
    font-size: 15pt;
	font-weight: bold;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none
}

.big_headertext{
    color: #003366;
    font-size: 13pt;
	font-weight: bold;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.small-text{
    color: #003366;
    font-size: 10px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}


.small_text{
    color: #003366;
    font-size: 12px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.err{
    color: #FF0000;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.smalltext{
    color: #000000;
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}



a.new_link:link, a.new_link:visited, a.new_link:active{
	font-size: 12px;
	color: #000000;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}

a.new_link:hover{
	font-size: 12px;
	color: #ff0000;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}


a.action_link:link, a.action_link:visited, a.action_link:active{
	font-size: 12px;
	color: #000000;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	line-height: 20px;
	padding: 0 40px 0 20px;
	margin: 0 0 0 0;
	text-decoration: none;
	background: url("../img/ico_menu_on.gif") 2px 2px no-repeat;
}

a.action_link:hover{
	font-size: 12px;
	color: #000000;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	line-height: 20px;
	padding: 0 40px 0 20px;
	margin: 0 0 0 0;
	text-decoration: none;
	background: url("../img/ico_menu_off.gif") 2px 2px no-repeat;
}

.bold_text{
    color: #000000;
    font-size: 11px;
	font-weight: bold;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}


.copyright{
    color: #FFFFFF;
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.green_text {
	color: #009933;
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.off{
	background-color: <?php echo ADMIN_MENU_COLOR; ?>;
	color:#000000;
	font-size:12px;
	font-family: verdana, arial, tahoma, helvetica, sans-serif;
	font-weight:bold;
	cursor: pointer;
}

.on{
	background-color: <?php echo ADMIN_MENU_HOVER_COLOR; ?>;
	color:#000000;
	font-size:12px;
	font-family: verdana, arial, tahoma, helvetica, sans-serif;
	font-weight:bold;
	cursor: pointer;
}


.red_text {
	color: #FF0000;
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.messageBox{
	text-align: left;
	color:#FF0000;
	width: 40%;
	font-size: 8pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	height: auto;
	padding: 6px 4px 6px 40px;
	margin: 3px 0 3px 0;
	text-decoration: none;
	border: 1px solid #E8C245;
	background: #FFFFCC url("../img/icon_error.gif") 10px 5px no-repeat;
}

.changeStatus{
	cursor: pointer;
}

.checkBox{
	padding: 0 0 0 0;
	margin: 0 4px 3px 0;
}

.radioButton{
	padding: 0 0 0 0;
	margin: 0 4px -2px 0;
}

a.top_link:link, a.top_link:visited, a.top_link:active{
	color: #FFFFFF;
	font-size:12px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:none; 
}

a.top_link:hover{
	color: #669acc;
	font-size:12px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:none;
}

.header_welcome_text{
	color: #ffffff;
    font-size: 11px;
	font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}
.messageBox_success {
	text-align: left;
	color:#009900;
	width: 50%;
	font-size: 8pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	height: auto;
	padding: 6px 4px 6px 40px;
	margin: 3px 0 3px 0;
	text-decoration: none;
	border: 1px solid #E8C245;
	background: #FFFFCC url("../img/icon_changeaccess.gif") 10px 5px no-repeat;
	font-weight:bold;
}

.messageBox_err {
	text-align: left;
	color:#FF0000;
	width: 50%;
	font-size: 8pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	height: auto;
	padding: 6px 4px 6px 40px;
	margin: 3px 0 3px 0;
	text-decoration: none;
	border: 1px solid #E8C245;
	background: #FFFFCC url("../img/icon_inactive.gif") 10px 5px no-repeat;
	font-weight:bold;
}

.messageBox_warn {
	text-align: left;
	color:#000000;
	width: 50%;
	font-size: 8pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	height: auto;
	padding: 6px 4px 6px 40px;
	margin: 3px 0 3px 0;
	text-decoration: none;
	border: 1px solid #E8C245;
	background: #FFFFCC url("../img/icon_error.gif") 10px 5px no-repeat; 
	font-weight:bold;
}
.error{
color:#FF0000;
}

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
	float:right;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	padding: 0 0 4px 10px;
	width: 100px;
	color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 4px;
    text-decoration: none;
	text-decoration: none}



#sddm span
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #ffffff;
	border: 1px solid #5970B2}

	#sddm span a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #ffffff;
		color: #000000;
		font: 11px arial}

	#sddm span a:hover
	{	background: #ffffff;
		color: #000000}


