html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0;}
ol, ul, li {border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; padding: 0; margin: 0;}
div, table {width: 100%; height: auto;}
body {line-height: normal; color: #64747A;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

/*-------------------------------------------
	CLEARFIX
-------------------------------------------*/
.clearfix:after {content: ".";display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix {height: 0;}
.clearfix {display: block;}
.clear {clear: both; font-size: 0; height: 0; line-height: 0; display: block;}

/*-------------------------------------------
	GENERAL SELECTORS
-------------------------------------------*/
body {font: normal 13px/20px "Trebuchet MS"; background: #fff;}
a {text-decoration: underline;}
a:link {color: #64747A;}
a:visited {color: #64747A;}
a:hover {color: #64747A; text-decoration: none;}
a:active {color: #64747A;}
a.mail {color: #E0C372;}
a.btn {background: url(../img/btnleft.png) left top no-repeat; padding: 0 0 0 24px; float: left; text-decoration: none; font-size: 10px; color: #0B4203;}
a.btn span {background: url(../img/btnright.png) right top no-repeat; padding: 9px 24px 7px 0; display: block; line-height: 12px;}
a.btn span.green {font-size: 14px; color: #51B242; background: none; padding: 0; display: inline; text-transform: uppercase;}
a.btn span.brown {font-size: 14px; color: #C5924A; background: none; padding: 0; display: inline; text-transform: uppercase;}
a.btn2 {background: url(../img/btnleft2.png) left top no-repeat; padding: 0 0 0 15px; float: left; text-decoration: none; font-size: 10px; color: #0B4203;}
a.btn2 span {background: url(../img/btnright2.png) right top no-repeat; padding: 0 15px 0 0; display: block; text-transform: uppercase; font: normal 13px/33px "Trebuchet MS"; color: #676161;}
.lsb, .lsb2 {width: auto; float: left;}
.rsb, .rsb2 {width: auto; float: right;}
.centeralign {text-align: center;}
.rightalign {text-align: right;}
.floatleft {float: left; width: auto;}
.floatright {float: right; width: auto;}
img.wrapleft {float: left; margin: 0 10px 10px 0;}
.greentxt {color: #61A257;}
.browntxt {color: #C79234;}
.title {font-size: 12px; color: #534640;}
.title span {font-size: 15px;}
.icon-phone {background: url(../img/icon-phone.gif) left center no-repeat; padding: 8px 0 8px 30px; font-size: 18px; color: #E0C372; width: auto;}
.icon-mail {background: url(../img/icon-mail.gif) left center no-repeat; padding: 8px 0 8px 31px; font-size: 18px; color: #E0C372;  width: auto; margin: 0 50px;}
.icon-fax {background: url(../img/icon-fax.gif) left center no-repeat; padding: 8px 0 8px 32px; font-size: 18px; color: #E0C372; width: auto;}
.unit {font-size: 24px; line-height: 24px; color: #61A257;}
p {padding-bottom: 5px;}
h1 {margin-bottom: 25px;}
h2 {font-size: 18px; line-height: 18px; color: #64747A; margin-bottom: 20px; background: url(../img/hordot.gif) left bottom repeat-x; padding-bottom: 10px;}
h3 {font-size: 14px; line-height: 14px; color: #C19D3D; margin-bottom: 5px;}
h4 {font-size: 24px; line-height: 24px; color: #61A257; margin-bottom: 15px; background: url(../img/hordot.gif) left bottom repeat-x; padding-bottom: 10px;}

/*-------------------------------------------
	Form
-------------------------------------------*/
input, select, textarea {margin: 0; vertical-align: middle; font: normal 12px "Trebuchet MS"; color: #64747A; width: 227px; height: 25px; border: 0; background: none; font-size: 13px;}
input[type=text], input[type=password] {padding: 0 5px;}
input[type=button] {color: #fff; border: 0; font-size: 14px; text-transform: uppercase; cursor: pointer;}
input.btn {color: #fff; border: 0; font-size: 14px; text-transform: uppercase; cursor: pointer;}
select {padding: 1px; font-size: 1em;}
input[type=file] {border: 1px solid #999;}
input:focus { outline: none;}
