@import url("commonfront.css");


/*-------------------------------------------
	CONTAINER DIVS
-------------------------------------------*/
-------------------------------------------*/
#main_wrapper {width: 100%; background: url(../img/front/bg.gif) repeat-x center top;}
.wrapper {width: 808px; margin: 0 auto;}

/*-------------------------------------------
	Header part section
-------------------------------------------*/
#header {height: 123px; position: relative;}
	#header .logo {width: auto; position: absolute; left: 4px; top: 20px;}
	
/*-------------------------------------------
	Navbar section
-------------------------------------------*/	
#navbar {width: auto; height: 34px; margin-bottom: 11px;}
	#navbar ul {list-style-type: none;}
	#navbar li {display: inline; margin-right: 22px; line-height: 34px;}
	#navbar a {display: inline-block; background: url(../img/front/navoff.gif) left center no-repeat; font-size: 14px; color: #C79234; text-decoration: none; width: 136px;}
	#navbar a:hover, #navbar a.here, #navbar a:hover.here {background: url(../img/front/navon.gif) left center no-repeat; color: #fff; text-decoration: none;}
		#navbar a span {display: block; background: url(../img/front/navoff-icon.gif) left center no-repeat; text-align: center;}
		#navbar a:hover span, #navbar a.here span, #navbar a:hover.here span {background: url(../img/front/navon-icon.gif) left center no-repeat;}
	#navbar a.home {padding-left: 8px;}
		#navbar a.home span {background-position: 25px center;}
		#navbar a:hover.home span {background-position: 25px center;}
	#navbar a.about {padding-left: 10px;}
		#navbar a.about span {background-position: 8px center;}
		#navbar a:hover.about span {background-position: 8px center;}
	#navbar a.faq {padding-left: 11px;}
		#navbar a.faq span {background-position: 25px center;}
		#navbar a:hover.faq span {background-position: 25px center;}
	#navbar a.contact {padding-left: 11px;}
		#navbar a.contact span {background-position: 0 center;}
		#navbar a:hover.contact span {background-position: 0 center;}

/*-------------------------------------------
	Content section
-------------------------------------------*/

		
		
		#content {background: url(../img/front/content-repeat.gif) center top repeat-y;}
	#content .content {background: url(../img/front/content-top.gif) center top no-repeat; padding: 40px 25px 10px; width: 758px;}
		#content .content .caption {font-size: 14px; color: #9B7E56; margin: 0 0 0 550px; text-align: right; width: auto; position: absolute;}
		#content .content .select {float: left; font: bold 18px/20px "Trebuchet MS"; color: #C19D3D; width: 200px;}
		#content .content .option {float: left; font: normal 14px/20px "Trebuchet MS"; color: #61A257; width: 150px;}
		#content .content .wallbox {width: 732px; border: 1px solid #B2BABD; padding: 20px 10px;}
			#content .content .wallbox .lsb3 {width: 330px;}
			#content .content .wallbox .rsb3 {width: 380px;}
				#content .content .wallbox .rsb3 .option {width: 300px;}
				#content .content .wallbox .rsb3 select {width: 75px;}
		#content .content .boxcolor {width: 210px;}
		#content .content .about-right {width: auto; position: absolute; margin: -20px 0 0 682px;}
		#content .content .faq-right {width: auto; position: absolute; margin: -20px 0 0 695px;}
		#content .content .contact-right {width: auto; position: absolute; margin: -10px 0 0 725px;}
		#content .content .lsb {width: 344px;}
		#content .content .rsb {width: 368px;}
	#content .content .question {cursor: pointer; margin: 7px 0;}
		#content .content .question a {}
	#content .content .choose {float: left; width: 210px;}
	#content .content .choosefull {width: 210px; margin: 0 auto;}
	#content .content .display {}
		#content .content .display p {padding: 0;}
		#content .content .lsb2 {width: 267px;}
			#content .content .lsb2 .build {width: 267px; background: url(../img/front/build.gif) center top repeat-y;}
				#content .content .lsb2 .build .buildcontent {width: 238px; margin: 0 auto;}
					#content .content .lsb2 .build .buildcontent .complete {margin: 7px 0;}
						#content .content .lsb2 .build .buildcontent .complete .first {font: bold 14px Georgia, "Times New Roman", Times, serif; color: #fff; width: 150px; float: left; padding: 7px 0;}
						#content .content .lsb2 .build .buildcontent .complete .second {width: 50px; float: left; padding: 7px 0;}
						#content .content .lsb2 .build .buildcontent .complete .third {font: normal 13px Georgia, "Times New Roman", Times, serif; color: #F6E5CA; font-style: oblique; width: auto; float: left; padding: 7px 0;}
						#content .content .lsb2 .build .buildcontent .complete .third a {color: #F6E5CA; font-style: oblique;}
		#content .content .rsb2 {width: 445px;}
		
		

/*-------------------------------------------
	Footer section
-------------------------------------------*/
#footer {height: 40px; position: relative;}
	#footer .copyright {width: auto; position: absolute; left: 20px; top: 10px; color: #64747A;}
	#footer .link {width: auto; position: absolute; right: 20px; top: 10px; color: #64747A;}
	#footer .link a {color: #64747A; padding: 0 10px;}

/*------------------------------------
      Form Box
---------------------------------------------*/
.form-box {width: 100%; padding: 5px 0;}
	.form-box fieldset {border: 0; padding: 5px 10px 5px 0; margin: 0; position: relative;}
	.form-box fieldset label {width: 100px; margin: 0; float: left; padding: 2px 0;}
	.form-box fieldset .input {background: url(../img/front/txtbox.gif) left top no-repeat; width: 227px; height: 25px; float: left;}
	.form-box fieldset .textarea {background: url(../img/front/txtarea.gif) left top no-repeat; width: 227px; height: 113px; float: left;}
	.form-box fieldset .input input {width: 220px; height: 20px; float: left;}
	.form-box fieldset .textarea textarea {width: 225px; height: 110px; float: left;}
	.form-box fieldset input[type=button] {background: url(../img/front/btn.png) center center no-repeat; width: 102px; height: 37px;}
	.form-box fieldset input.btn {background: url(../img/front/btn.png) center center no-repeat; width: 102px; height: 37px;}
	.form-box fieldset input[type=button].margin30 {margin-right: 30px; float: right;}
	.form-box fieldset input.btn-margin30 {margin-right: 30px; float: right;}
	..form-box fieldset input[type=checkbox] {width: auto;}
	.form-box fieldset input.checkbox {width: auto;}
	.form-box fieldset input[type=radio] {width: auto;}
	.form-box fieldset input.radio {width: auto;}


.form-box2 {width: 100%; padding: 5px 0;}
	.form-box2 fieldset {border: 0; padding: 5px 10px 5px 0; margin: 0; position: relative;}
	.form-box2 fieldset label {width: 150px; margin: 0; float: left; padding: 2px 0;}
	.form-box2 fieldset .input {background: url(../img/front/txtbox2.gif) left top no-repeat; width: 74px; height: 25px; float: left;}
	
	.form-box2 fieldset .textarea {background: url(../img/front/txtarea2.gif) left top no-repeat; width: 443px; height: 122px; float: left;}
	.form-box2 fieldset .input input {width: 70px; height: 20px; float: left;}
	.form-box2 fieldset .textarea textarea {width: 440px; height: 115px; float: left;}
	.form-box2 fieldset input[type=file] {width: 350px;}
	.form-box2 fieldset input[type=button] {background: url(../img/front/btn.png) center center no-repeat; width: 102px; height: 37px;}
	.form-box2 fieldset input.btn {background: url(../img/front/btn.png) center center no-repeat; width: 102px; height: 37px;}
	.form-box2 fieldset input[type=button].margin30 {margin-right: 30px; float: right;}
	.form-box2 fieldset input.btn-margin30 {margin-right: 30px; float: right;}
	.form-box2 fieldset input[type=checkbox] {width: auto;}
	.form-box2 fieldset input.checkbox {width: auto;}
	.form-box2 fieldset input[type=radio] {width: auto;}
	.form-box2 fieldset input.radio {width: auto;}

	
	
.form-box3 {width: 100%; padding: 5px 0;}
	.form-box3 fieldset {border: 0; padding: 5px 10px 5px 0; margin: 0; position: relative;}
	.form-box3 fieldset label {width: 150px; margin: 0; float: left; padding: 5px 0;}
	.form-box3 fieldset .input {background: url(../img/front/txtbox3.gif) left top no-repeat; width: 300px; height: 25px; float: left;}
	.form-box3 fieldset .textarea {background: url(../img/front/txtarea3.gif) left top no-repeat; width: 443px; height: 122px; float: left;}
	.form-box3 fieldset .input input {width: 290px; height: 20px; float: left;}
	.form-box3 fieldset .textarea textarea {width: 440px; height: 115px; float: left;}
	.form-box3 fieldset input[type=file] {width: 350px;}
	.form-box3 fieldset input[type=button] {background: url(../img/front/btn.png) center center no-repeat; width: 102px; height: 37px;}
	.form-box3 fieldset input.btn {background: url(../img/front/btn.png) center center no-repeat; width: 102px; height: 37px;}
	.form-box3 fieldset input[type=button].margin30 {margin-right: 30px; float: right;}
	.form-box3 fieldset input.btn-margin30 {margin-right: 30px; float: right;}
	.form-box3 fieldset input[type=checkbox] {width: auto;}
	.form-box3 fieldset input.checkbox {width: auto;}
	.form-box3 fieldset input[type=radio] {width: auto;}
	.form-box3 fieldset input.radio {width: auto;}

.alerthide {
	display: none;
}
.alertshow {
	text-align:left; 
	padding-left:10px;
	color: #FF0000;
	display: block;
	font-weight:bold;
}